<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="/img/metalogo.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인페이지</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <form class="form-box" action="/login" method="POST">
        <h4>로그인</h4>
        아이디<input name="username">
        비밀번호<input name="password" type="password">
        <button type="submit">전송</button>
    </form>
</body>
</html>


