<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="/img/metalogo.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>플래닛투어</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <div class="thankyou">
        <div class="contact-hd">
            <div>
                <div><img src="/img/contactlogo.png" alt="로고"></div>
                <p>상담 예약</p>
            </div>
        </div>
        <div class="main">
            <div class="check-icon"><img src="/img/check-icon.png" alt="체크아이콘"></div>
            <div class="completed-message">
                <p>예약 완료되었습니다</p>
                <h6>감사합니다</h6>
            </div>
        </div>
    </div>
</body>
</html>